<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.orangejam.ischool" >

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- SDK versions -->
    <uses-sdk android:minSdkVersion="14" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ru_transparent"
        android:label="@string/app_name"
        android:theme="@style/Theme.Ru" >
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light" >
        </activity>
        <activity
            android:name=".activities.SplashActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>

        <receiver
            android:name=".modules.iSchoolAppWidgetProvider"
            android:label="Next Class" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.something.MyWidget.ACTION_WIDGET_RECEIVER" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_info" />
        </receiver>
        <!-- <service android:enabled="true" android:name=".modules.UpdateWidgetService" /> -->
        <activity
            android:name=".activities.WebActivity"
            android:label="@string/app_name"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
    </application>

</manifest>
